services:
  server:
    build: ./server
    ports:
      - "${PORT:-8080}:8080"
    environment:
      - PORT=8080
      - API_KEY=${API_KEY:-secretpassword}
    restart: unless-stopped
    volumes:
       - ./data:/app/data
